<%= render 'user' %>

<% @books.each do |book| %>
  <p><%= link_to @user.name, user_path(@user.id) %></p>
  <p><%= link_to book.title, book_path %></p>
  <!-- ↑link_toにしたい -->
  <p><%= book.body %></p>
<% end %>

<%= render 'homes/footer' %>