<%= flash[:notice] %>
<h2>Book detail</h2>
<p><%= link_to @user.name, user_path %></p>
<p><%= link_to image_tag(@book.user.get_profile_image(50, 50)).to_s, user_path(@user.id) %></p>
<p><%= @book.title %></p>
<p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path %>
<% if @user.id == current_user.id %>
  <%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>

<%= render 'homes/footer' %>